.evidence/template
.evidence/meta
.svelte-kit
build
node_modules
.DS_Store
static/data
data/raw/*
*.options.yaml
.vscode/settings.json
.env
venv
notebooks/.ipynb_checkpoints/
# Local Netlify folder
.netlify
